<div ng-init="getAll()">
  <div class="mt-4 mb-4 col-md-6 col-sm-6 offset-md-5 offset-sm-5 refresh-icon" ng-if="refreshing">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>
  <div ng-if="posts.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Content</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in posts">
          <td align="left">{{ post.id }}</td>
          <td align="left">{{ post.title }}</td>
          <td align="left">{{ post.content }}</td>
          <td>
            <button ng-href="/" title="Show" ng-click="showPost(post.id)" data-toggle="modal" data-target="#modalPost" class="btn btn-success">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            <button ng-href="/" title="Remove" ng-click="destroyPost(post.id)" class="btn btn-danger">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4 mb-4 col-md-6 offset-md-5" ng-if="posts != undefined && posts.length == 0">
    <p>Ops! You dont have any post to show.</p>
  </div>
</div>
<div>
  <button ng-show="!refreshing" title="Novo Post" ng-click="new()" class="btn btn-success" data-toggle="modal" data-target="#modalPost">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
</div>
<div class="modal fade" id="modalPost" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPost">New Post</h5>
        <button title="Fechar" ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-8 offset-md-2">
          <form>
            <div class="form-group">
              <label for="title">Title:</label>
              <input ng-disabled="show" type="text" ng-model="post.title" class="form-control" id="title">
            </div>
            <div class="form-group">
              <label for="content">Content:</label>
              <textarea ng-disabled="show" type="text" ng-model="post.content" class="form-control" id="content"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button title="New Post" ng-click="newPost()" ng-show="create" type="submit" data-dismiss="modal" class="btn btn-success">
          <i class="fa fa-save" aria-hidden="true"></i>
        </button>
        <button title="Update" ng-click="updatePost()" ng-show="update" type="submit" data-dismiss="modal" class="btn btn-success">
          <i class="fa fa-save" aria-hidden="true"></i>
        </button>
        <button title="Edit" ng-click="editPost()" ng-show="edit" type="submit" class="btn btn-info">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
        <button title="Cancel" ng-click="cancel()" type="button" class="btn btn-danger" data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
